@use 'tokens' as *

.header
	position: fixed
	top: 0
	width: 100%
	height: 48px
	text-transform: uppercase
	z-index: 100
	.wrapper-header
		display: flex
		align-items: center
		justify-content: space-between
		padding: var(--space-sm)
		height: 48px

		.btn-dropdown
			position: relative
			padding-right: var(--space-md)
			&:after
				content: '▾'
				position: absolute
				right: 0
				top: 50%
				transform: translateY(-53%)

		.link-currency
			position: relative
			.menu-dropdown
				position: absolute
				left: 0
				top: 34px
				opacity: 0
				visibility: hidden
				transition: var(--transition)
				background: var(--bs-white)
				z-index: 2
				.nav-link
					padding: var(--space-sm)
					width: 78px
			&:hover
				.btn-dropdown
					opacity: .75
				.menu-dropdown
					opacity: 1
					visibility: visible

		.menu-mobile
			position: absolute
			top: 4px
			left: 50%
			transform: translateX(-50%)
			display: flex
			flex-direction: column
			justify-content: center
			align-items: center
			width: 42px
			height: 42px
			@media (min-width: $lg)
				display: none
			.line
				display: block
				width: 24px
				height: 1px
				background: var(--bs-black)
				margin: 4px 0
				transition: var(--transition)
			&.active
				.line
					&:nth-child(1)
						transform: rotate(45deg) translate(4px, 4px)
					&:nth-child(2)
						transform: rotate(-45deg) translate(2px, -2px)

		.nav
			display: none
			position: absolute
			left: 0
			top: 48px
			width: 100%
			height: calc(100dvh - 48px)
			padding: var(--space-md)
			background: var(--bs-white)
			gap: 16px
			z-index: 10
			@media (min-width: $lg)
				position: static
				display: flex
				height: auto
				width: auto
				padding: 0
			&.show
				display: flex
				flex-direction: column
				align-items: center
			.nav-item
				&:nth-of-type(03)
					&:hover
						.menu-dropdown
							display: flex !important
			.nav-link
				width: 100%
				height: 36px
				@media (min-width: $lg)
					&:hover
						font-size: 120%
						font-weight: 700
						transition: var(--transition)
						overflow: hidden
			.btn-dropdown
				@media (min-width: $lg)
					&:after
						display: none
				&.active
					font-size: 1var(--space-sm)
					font-weight: 700
					text-align: center
			.menu-dropdown
				display: none
				@media (min-width: $lg)
					flex-direction: column
					position: fixed
					top: 0
					left: 0
					background: var(--bs-black)
					padding: var(--space-md)
					width: 100%
					height: 100dvh
					color: var(--bs-white)
				&.show
					display: flex !important
					flex-direction: column
					align-items: center
				p
					font-size: 1var(--space-sm)
					font-weight: 700
					text-align: center
					margin-bottom: var(--space-sm)
				.nav-link
					text-align: center
					@media (min-width: $lg)
						color: var(--bs-white)
			.text-branding
				position: absolute
				bottom: 0
				font-family: "Hanken Grotesk", sans-serif
				font-size: 17.75vw
				text-transform: uppercase
				line-height: 1
				text-align: center
				font-weight: 700
				@media (min-width: $lg)
					display: none
		.btn
			img
				height: 12px
				aspect-ratio: 1/1
				object-fit: contain

.head-text-branding
	position: fixed
	top: 48px
	left: 50%
	transform: translateX(-50%)
	width: 100%
	z-index: 1
	mix-blend-mode: difference
	font-family: "Hanken Grotesk", sans-serif
	font-size: 17.75vw
	text-transform: uppercase
	line-height: 1
	text-align: center
	font-weight: 700
	color: var(--bs-white)
