@use 'tokens' as *

main
	padding-top: 48px

section
	padding-top: 6rem
	padding-bottom: 6rem

	figcaption
		position: absolute
		top: 50%
		left: 50%
		transform: translate(-50%, -50%)
		width: 100%
		padding: var(--space-sm)
		text-transform: uppercase
		color: var(--bs-white)
		font-weight: 700
		text-align: center

	article
		max-width: 760px
		margin: 0 auto
		text-align: center
		.h6
			margin-bottom: var(--space-md)
			font-weight: 700

.sc--intro
	padding-top: 0
	padding-bottom: 0
	width: 100%
	height: 100vh
	overflow: hidden
	.object-fit
		width: 100%
		height: 100%
		margin: 0
	video
		width: 100%
		height: 100%
		object-fit: cover

.sc--new
	padding-bottom: 0
	.image
		position: relative
		max-width: 480px
		margin: 0 auto auto
		aspect-ratio: 1/1
		margin-bottom: var(--space-md)
		overflow: hidden
		img
			width: 100%
			height: auto
			aspect-ratio: 1/1
			object-fit: cover
		figcaption
			font-size: clamp(42px, 5vw, 80px)

.sc--bestseller
	padding-bottom: 0
	.image
		position: relative
		max-width: 960px
		width: 100%
		margin: 0 auto auto
		aspect-ratio: 16/9
		margin-bottom: var(--space-md)
		overflow: hidden
		video
			width: 100%
			height: auto
			aspect-ratio: 16/9
			object-fit: cover
		figcaption
			font-size: clamp(42px, 5vw, 80px)

.sc--collection
	.image
		position: relative
		max-width: 920px
		aspect-ratio: 16/9
		margin: 0 auto var(--space-xl) auto
		overflow: hidden
		@media (min-width: $lg)
			margin-bottom: 4rem
		img,video
			width: 100%
			height: 100%
			aspect-ratio: 16/9
			object-fit: cover
		video
			position: absolute
			top: 0
			left: 0
			opacity: 0
			visibility: hidden
			transition: var(--transition)
		&:nth-child(01)
			&:hover
				video
					opacity: 1
					visibility: visible
	.grid-2
		display: grid
		grid-template-columns: repeat(2,1fr)
		gap: var(--space-lg)
		place-items: center
		max-width: 920px
		margin: 0 auto
		@media (min-width: $lg)
			gap: 3rem
		.image-square
			position: relative
			aspect-ratio: 1/1
			max-width: 455px
			overflow: hidden
			img
				width: 100%
				height: 100%
				aspect-ratio: 1/1
				object-fit: cover
			.image-hover
				position: absolute
				top: 0
				left: 0
				opacity: 0
				visibility: hidden
				transition: var(--transition)
				object-position: center 20%
			&:hover
				.image-hover
					opacity: 1
					visibility: visible
	figcaption
		font-size: clamp(32px, 4.5vw, 60px)
		&.text-sm
			font-size: clamp(22px, 3vw, 40px)
			z-index: 1

.sc--scrolling
	padding-top: 0
	padding-bottom: 0
	background: var(--bs-black)
	.swiper-wrapper
		transition-timing-function: linear !important
	.sc--scrolling-slider .swiper-slide
		width: auto
	.slide-item
		display: flex
		align-items: center
		gap: 4rem
		white-space: nowrap
		color: var(--bs-white)
		font-size: clamp(28px, 3.5vw, 56px)
		font-weight: 700
		text-transform: uppercase
		img
			height: 24px
			@media (min-width: $lg)
				height: 48px

.sc--services
	.grid-3
		display: grid
		grid-template-columns: repeat(1,1fr)
		gap: 4rem
		@media (min-width: $lg)
			grid-template-columns: repeat(3,1fr)
		.item
			p
				font-size: 18px
				font-weight: 700
				text-transform: uppercase
				margin-bottom: var(--space-md)
			div
				font-size: 16px
				color: var(--bs-gray-600)

.sc--question
	background: var(--bs-black)
	color: var(--bs-white)
	.content
		display: flex
		flex-direction: column
		align-items: center
		.h1
			text-transform: uppercase
			font-weight: 700
			@media (max-width: $lg)
				text-align: center
		p
			margin-bottom: var(--space-xl)
			@media (max-width: $lg)
				text-align: center
	.nav
		--bs-nav-link-padding-y: .35rem
	.nav-pills
		flex-direction: column
		justify-content: center
		align-items: center
		gap: .75rem
		margin-bottom: 3rem
		@media (min-width: $lg)
			flex-direction: row
			gap: var(--space-md)
			margin-bottom: 6rem
		.nav-link
			background-color: rgb(var(--bs-white-rgb), .25)
			color: var(--bs-white)
			border: 1px solid #828282
			text-transform: uppercase
			border-radius: var(--bs-border-radius-pill)
			&.active
				background-color: var(--bs-white)
				color: var(--bs-black)

.sc--make-an-inquiry
	.grid-2
		display: grid
		grid-template-columns: 1fr
		gap: var(--space-xl)
		@media (min-width: $lg)
			grid-template-columns: 1fr 70%
			gap: 4rem
		.content
			.h1
				text-transform: uppercase
				font-weight: 700
			.h6
				margin-bottom: var(--space-xl)
		.form
			.btn
				padding: .75rem var(--space-lg)
				width: 128px
			@media (min-width: $lg)
				padding-left: 4rem
