$xs: 	280px
$sm: 	576px
$md: 	768px
$lg: 	992px
$xl: 	1200px
$xxl: 	1400px

/* ===== DESIGN TOKENS ===== */
:root
	--bs-body-font-size: 14px

	--space-xs: 0.25rem
	--space-sm: 0.5rem
	--space-md: 1rem
	--space-lg: 1.5rem
	--space-xl: 2rem

	--bs-border-radius: 0

	/* Typography */
	--fs-sm: 14px
	--fs-md: 16px
	--fs-lg: 20px

	/* Transition */
	--transition: all 0.3s ease
