footer.footer
	.container-fluid
		a.nav-link.link-to-top(href='#') HomePage
		.wrapper-footer
			.item
				.title About
				ul
					li
						a.nav-link(href='#') Women
					li
						a.nav-link(href='#') Collections
					li
						a.nav-link(href='#') Editorial
					li
						a.nav-link(href='#') Stories
			.item
				.title Help
				ul
					li
						a.nav-link(href='#') Payment Notification
					li
						a.nav-link(href='#') Customer Service
					li
						a.nav-link(href='#') FAQ
			.item
				.title Social
				ul
					li
						a.nav-link(href='#') Instagram
					li
						a.nav-link(href='#') Facebook
			.item
				.title Legal
				ul
					li
						a.nav-link(href='#') Terms & Conditions
					li
						a.nav-link(href='#') Privacy Policy
					li
						a.nav-link(href='#') Cookie Policy
			.item
				.title Newsletter
				.form-floating.mb-3
					input.form-control(type="email", placeholder="Email")
					label Email
				button.btn.btn-light Subscribe
		.copyright
			.text ©PLAIMANAS 
			.hstack.gap-1
				.text Web by
				img(src="../assets/images/plaimanas-logo.webp", alt="Plaimanas" height="28")