header.header 
	.bg-white
		.container
			.wrapper-header
				.link-currency
					button.nav-link.btn-dropdown(role="button")
						| TH - THB
					nav.menu-dropdown
						a.nav-link(href="#") US - USD

				a.menu-mobile(role='button')
					span.line
					span.line

				nav.nav
					li.nav-item
						a.nav-link(href='#') Woman
					li.nav-item
						a.nav-link(href='#') Collections
					li.nav-item
						a.nav-link.btn-dropdown(href='#') Editorial
						nav.menu-dropdown
							p Editorial
							a.nav-link(href="#") a.s.c
							a.nav-link(href="#") Bazaar
							a.nav-link(href="#") Elle
							a.nav-link(href="#") Gq
							a.nav-link(href="#") L'official Thailand
							a.nav-link(href="#") Numero
							a.nav-link(href="#") Vogue
					li.nav-item
						a.nav-link(href='#') News
					li.nav-item
						a.nav-link(href='#') Stories 
					.text-branding.text--mobile Plaimanas

				.hstack.gap-1
					a.nav-link(href='#') Sign in
					a.btn
						img(src="../assets/icons/bag.png", alt="Plaimanas")
header.head-text-branding
	| Plaimanas

