extends layout

block content
	main
		section.sc-intro
			figure.object-fit
				video(playsinline='', muted='', autoplay='', loop='')
					source(src="../assets/videos/video-01.mp4", type="video/mp4")
		section.sc-new 
			.container
				figure.image
					img(src="../assets/images/plaimanas-01.jpg", alt="Plaimanas")
					figcaption New
				article
					.h6 Sed egestas, nibh a condimentum imperdiet
					div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare, nisl non rhoncus commodo, turpis elit ultricies justo, vitae molestie quam justo ut lacus. Proin vitae

		section.sc-bestseller
			.container
				figure.image
					video(playsinline='', muted='', autoplay='', loop='')
						source(src="../assets/videos/video-02.mp4", type="video/mp4")
					figcaption Bestseller
				article
					.h6 Sed egestas, nibh a condimentum imperdiet
					div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare, nisl non rhoncus commodo, turpis elit ultricies justo, vitae molestie quam justo ut lacus. Proin vitae

		section.sc-collection
			.container
				figure.image
					img(src="../assets/images/plaimanas-02.jpg", alt="Plaimanas")
					video(playsinline='', muted='', autoplay='', loop='')
						source(src="../assets/videos/video-02.mp4", type="video/mp4")
					figcaption Collection 01
				.grid-2
					figure.image-square
						img(src="../assets/images/plaimanas-03.jpg", alt="Plaimanas")
						figcaption.text-sm Collection 02
						img.image-hover(src="../assets/images/plaimanas-05.jpg", alt="Plaimanas")
					figure.image-square
						img(src="../assets/images/plaimanas-04.jpg", alt="Plaimanas")
						figcaption.text-sm Collection 03
						img.image-hover(src="../assets/images/plaimanas-05.jpg", alt="Plaimanas")

		section.sc-scrolling
			.swiper.sc-scrolling-slider
				.swiper-wrapper
					.swiper-slide
						.slide-item
							figure
								img(src="../assets/icons/arrow-right.png", alt="Plaimanas")
							span New arrivals
					.swiper-slide
						.slide-item
							figure
								img(src="../assets/icons/arrow-left.png", alt="Plaimanas")
							span Best seller
							figure
								img(src="../assets/icons/arrow-right.png", alt="Plaimanas")
					.swiper-slide
						.slide-item
							figure
								img(src="../assets/icons/arrow-left.png", alt="Plaimanas")
							span New arrivals
					.swiper-slide
						.slide-item
							figure
								img(src="../assets/icons/arrow-left.png", alt="Plaimanas")
							span Best seller

		section.sc-services
			.container
				.grid-3
					.item
						p Worldwide shipping
						div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare, nisl non rhoncus commodo, turpis elit ultricies justo, vitae molestie quam justo ut lacus. Proin vitae
					.item
						p Customer Service
						div 
							span.text-decoration-underline Lorem ipsum dolor sit amet, 
							| consectetur adipiscing elit. Nam ornare, nisl non rhoncus commodo, turpis elit ultricies justo, vitae molestie quam justo ut lacus. Proin vitae
					.item
						p Secure Payment
						div Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare, nisl non rhoncus commodo, turpis elit ultricies justo, vitae molestie quam justo ut lacus. Proin vitae

		section.sc-question
			.container
				.content
					.h1 frequently asked questions
					p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare, nisl non rhoncus commodo.
					ul#pills-tab.nav.nav-pills(role="tablist")
						li.nav-item(role="presentation")
							button#pills-orders-tab.nav-link(data-bs-toggle="pill", data-bs-target="#pills-orders", type="button", role="tab", aria-controls="pills-orders",  aria-selected="false") Orders
						li.nav-item(role="presentation")
							button#pills-shipping-tab.nav-link.active(data-bs-toggle="pill", data-bs-target="#pills-shipping", type="button", role="tab", aria-controls="pills-shipping", aria-selected="true") Shipping
						li.nav-item(role="presentation")
							button#pills-returns-tab.nav-link(data-bs-toggle="pill", data-bs-target="#pills-returns", type="button", role="tab", aria-controls="pills-returns", aria-selected="false") Returns & Exchanges
						li.nav-item(role="presentation")
							button#pills-sizing-tab.nav-link(data-bs-toggle="pill", data-bs-target="#pills-sizing", type="button", role="tab", aria-controls="pills-sizing", aria-selected="false") Sizing & Products
				
				#pills-tabContent.tab-content
					#pills-orders.tab-pane.fade(role="tabpanel", aria-labelledby="pills-orders-tab", tabindex="0") 
						.h3.fw-bold Orders
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare, nisl non rhoncus commodo, turpis elit ultricies justo, vitae molestie quam justo ut lacus. Proin vitae
					#pills-shipping.tab-pane.fade.show.active(role="tabpanel", aria-labelledby="pills-shipping-tab", tabindex="0")
						#accordionShipping.accordion
							.accordion-item
								h2.accordion-header
									button.accordion-button(type="button", data-bs-toggle="collapse", data-bs-target="#shippingOne", aria-expanded="false", aria-controls="collapseOne")
										| Do you offer international shipping?
								#shippingOne.accordion-collapse.collapse.show(data-bs-parent="#accordionShipping")
									.accordion-body
										| Items can be returned within 14 days of receipt, provided they are unworn, unwashed, and in original condition with tags attached.
							.accordion-item
								h2.accordion-header
									button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#shippingTwo", aria-expanded="true", aria-controls="collapseTwo")
										| How long does delivery take?
								#shippingTwo.accordion-collapse.collapse(data-bs-parent="#accordionShipping")
									.accordion-body
										| Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, quae? Ad sit iure dignissimos voluptates ex quas dolor temporibus adipisci tempora facere ullam quasi aperiam sequi, reprehenderit cumque explicabo aut!
							.accordion-item
								h2.accordion-header
									button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#shippingThree", aria-expanded="false", aria-controls="collapseThree")
										| How can I track my order?
								#shippingThree.accordion-collapse.collapse(data-bs-parent="#accordionShipping")
									.accordion-body
										| Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, quae? Ad sit iure dignissimos voluptates ex quas dolor temporibus adipisci tempora facere ullam quasi aperiam sequi, reprehenderit cumque explicabo aut!
					#pills-returns.tab-pane.fade(role="tabpanel", aria-labelledby="pills-returns-tab", tabindex="0")
						#accordionReturns.accordion
							.accordion-item
								h2.accordion-header
									button.accordion-button(type="button", data-bs-toggle="collapse", data-bs-target="#returnsOne", aria-expanded="true", aria-controls="collapseOne")
										| What is your return policy?
								#returnsOne.accordion-collapse.collapse.show(data-bs-parent="#accordionReturns")
									.accordion-body
										| Items can be returned within 14 days of receipt, provided they are unworn, unwashed, and in original condition with tags attached.
							.accordion-item
								h2.accordion-header
									button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#returnsTwo", aria-expanded="false", aria-controls="collapseTwo")
										| Can I exchange for a different size?
								#returnsTwo.accordion-collapse.collapse(data-bs-parent="#accordionReturns")
									.accordion-body
										| Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, quae? Ad sit iure dignissimos voluptates ex quas dolor temporibus adipisci tempora facere ullam quasi aperiam sequi, reprehenderit cumque explicabo aut!
							.accordion-item
								h2.accordion-header
									button.accordion-button.collapsed(type="button", data-bs-toggle="collapse", data-bs-target="#returnsThree", aria-expanded="false", aria-controls="collapseThree")
										| Are sale items refundable?
								#returnsThree.accordion-collapse.collapse(data-bs-parent="#accordionReturns")
									.accordion-body
										| Lorem ipsum dolor, sit amet consectetur adipisicing elit. Accusamus, quae? Ad sit iure dignissimos voluptates ex quas dolor temporibus adipisci tempora facere ullam quasi aperiam sequi, reprehenderit cumque explicabo aut!
					#pills-sizing.tab-pane.fade(role="tabpanel", aria-labelledby="pills-sizing-tab", tabindex="0") 
						.h3.fw-bold Sizing & Products
						p Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare, nisl non rhoncus commodo, turpis elit ultricies justo, vitae molestie quam justo ut lacus. Proin vitae

		section.sc-make-an-inquiry
			.container
				.grid-2
					.content
						.h1 make an inquiry
						.h6 Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ornare, nisl non rhoncus commodo.
					fieldset.form
						form
							.row.g-3.mb-3
								.col-md-12
									.hstack.gap-3
										.form-check
											input#radioDefault1.form-check-input(type="radio", name="radioDefault", checked)
											label.form-check-label(for="radioDefault1")
												| Onsite
										.form-check
											input#radioDefault2.form-check-input(type="radio", name="radioDefault")
											label.form-check-label(for="radioDefault2")
												| Hybrid
								.col-md-6
									.form-floating
										input#floatingName.form-control(type="text", placeholder="Full Name")
										label(for="floatingName") Full Name*
								.col-md-6
									.form-floating
										input#floatingEmail.form-control(type="email", placeholder="name@example.com")
										label(for="floatingEmail") Email address*
								.col-md-6
									.form-floating
										input#floatingPhone.form-control(type="text", placeholder="Phone Number")
										label(for="floatingPhone") Phone Number*
								.col-md-6
									.form-floating
										select#floatingSelect.form-select(aria-label="Floating label select example")
											option(selected) Open this select menu
											option(value="1") One
											option(value="2") Two
											option(value="3") Three
										label(for="floatingSelect") Select Subject*
								.col-md-12
									.form-check
										input#checkChecked.form-check-input(type="checkbox", value='')
										label.form-check-label(for="checkChecked")
											| I agree to all terms & conditions
							button.btn.btn-primary(type="submit") SEND